body{
   text-align: center;
  
}
.cv__main{
   display: flex;
   background-color: rgb(173, 222, 244);

}
.photo-cv{
   max-height: 400px;
   width: 100%;
   margin-right: 30px;
}
.text{
   text-align: left;
   font-size: 20px;
}
.contact{
   font-size: 28px;
  
   width: 150px;
}
.photo{
   background-color:gainsboro;
   height: 90vh;
}
.text{

   margin-left: 20px;
}
nav{
   display: flex; 
   justify-content:space-around}
.header{
   background-color: rgb(202, 255, 255);
font-size: 40px;
text-align: center;
}
h1{
   text-align: center;
}
h2{
   font-weight: 200;
   font-size: 25px;
}
.about{
   font-size: 30px;
}
code{
   font-size: 20px;
}
.rs{
   height: 80px;
   width: 80px;
}
.git{
   height: 20px;
   width: 40px;
}
li{
   font-size: 20px;
}
.aboutme{
   font-size: 20px;
}
.first{
  font: 800;
  font-size: 25px;
   text-align: left;
   list-style: none;
}